body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #c2baba;
  }
  
  .navbar {
    background-color: #204118;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .container {
    background-color: #efefe3;
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .title {
    font-size: 32px;
    color: #204118;
    margin: 0;
  }
  
  .subtitle {
    margin: 10px 0 30px;
    font-weight: 500;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .btn {
    padding: 12px;
    background-color: #204118;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #356630;
  }
  
  .icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .icon-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
  }
  