{% extends "base.html" %} {% block title %}Home – Soul Maps{% endblock %} {%
block content %}
<div class="home-container">
  <h2>Welcome to your homepage, {{ user.name }}!</h2>
  <div class="content">
    <div class="friends-activity">
      <h3>Latest Friends Activity</h3>
      <ul>
        {% for entry in friend_entries %}
        <li>
          <b>{{ entry.user.name }}</b> added <i>{{ entry.title }}</i> to {{
          entry.media_type.lower() }} list
        </li>
        {% else %}
        <li>No recent activity from friends.</li>
        {% endfor %}
      </ul>
    </div>


    <div class="recent-activity">
      <h3>Most recent activity!</h3>
      <ol>
        {% for entry in recent_entries %}
        <li><strong>{{ entry.media_type }}</strong>: {{ entry.title }}</li>
        {% else %}
        <li>No recent entries yet.</li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <a href="{{ url_for('main.upload_page') }}" class="import-btn">Import</a>
</div>
{% endblock %}
