<div class="navbar">
  <!-- Navbar to allow user to easily navigate to different pages on SoulMaps-->
  <!-- Logo and Website name stick on far left of navbar -->

  <div class="navbar-left">
    <img
      src="{{ url_for('static', filename='media/SoulMapsIcon.png') }}"
      alt="SoulMapsIcon"
      class="navbar-icon"
    />
    <div class="logo">Soul Maps</div>
  </div>

  <!-- Buttons to route to Home,For You, Notifications, Friends and Settings Page -->

  <div class="nav-icons">
    <a href="{{ url_for('main.home') }}" class="nav-link">
      <div class="nav-icon-button">
        <img
          src="{{ url_for('static', filename='media/homeIcon.png') }}"
          alt="Home"
          class="nav-icon"
        />
        <span class="nav-label">Home</span>
      </div>
    </a>
    <a href="{{ url_for('main.for_you') }}" class="nav-link">
      <div class="nav-icon-button">
        <img
          src="{{ url_for('static', filename='media/forYouIcon.png') }}"
          alt="For You"
          class="nav-icon"
        />
        <span class="nav-label">For You</span>
      </div>
    </a>
    <a href="{{ url_for('main.notifications') }}" class="nav-link">
      <div class="nav-icon-button">
        <img
          src="{{ url_for('static', filename='media/bell.png') }}"
          alt="Notifications"
          class="nav-icon"
        />
        {% if unread_notifications > 0 %}
        <span class="notification-badge">{{ unread_notifications }}</span>
        {% endif %}
        <span class="nav-label">Notifications</span>
      </div>
    </a>
    <a href="{{ url_for('main.friends') }}" class="nav-link">
      <div class="nav-icon-button">
        <img
          src="{{ url_for('static', filename='media/friendsIcon.png') }}"
          alt="Friends"
          class="nav-icon"
        />
        <span class="nav-label">Friends</span>
      </div>
    </a>
    <a href="{{ url_for('main.settings') }}" class="nav-link">
      <div class="nav-icon-button">
        <img
          src="{{ url_for('static', filename='media/settingsIcon.png') }}"
          alt="Settings"
          class="nav-icon"
        />
        <span class="nav-label">Settings</span>
      </div>
    </a>
  </div>
</div>
