{% extends "base.html" %} {% block title %}Settings – Soul Maps{% endblock %} {%
block content %}
<div class="settings-page">
  <div class="settings-sidebar">
    <h2>Settings</h2>
    <ul>
      <li onclick="showSection('account')"><b>Account Settings</b></li>
      <li onclick="showSection('change-password')"><b>Change Password</b></li>
      <li onclick="showSection('delete-account')"><b>Delete Account</b></li>
      <li onclick="showSection('about')"><b>About / Help / Legal</b></li>
    </ul>
    <button class="logout-button" onclick="confirmLogout()">Log Out</button>
  </div>

  <!-- Main Content -->
  <div class="settings-content">
    <!-- Account Settings Section -->
    <div id="account" class="settings-section">
      <div class="user-info">
        <img
          src="{{ profile_picture_url }}"
          alt="Profile Picture"
          class="profile-picture"
          onerror="this.onerror=null;this.src='{{ url_for('static', filename='media/user.png') }}';"
        />
        <form
          method="POST"
          action="{{ url_for('main.update_profile_picture') }}"
          enctype="multipart/form-data"
          class="settings-form"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

          <button
            type="button"
            class="btn update-btn"
            onclick="document.getElementById('profile-picture-upload').click();"
          >
            Change Profile Picture
          </button>
          <input
            type="file"
            id="profile-picture-upload"
            name="profile_picture"
            accept="image/*"
            style="display: none"
            onchange="this.form.submit();"
          />
        </form>
        <p><strong>Username:</strong> {{ user.name }}</p>
        <small
          class="change-username-link"
          onclick="showSection('username-section')"
          >Change Username</small
        >
        <p><strong>Email:</strong> {{ user.email }}</p>
        <small class="change-email-link" onclick="showSection('email-section')"
          >Change Email</small
        >
      </div>
    </div>

    <!-- Username Update Section -->
    <div id="username-section" class="settings-section hidden">
      <div class="back_button_settings_container">
        <button class="back_button_settings" onclick="showSection('account')">
          &larr; Back to Account Settings
        </button>
      </div>

      <h2>Change Username</h2>
      <form
        method="POST"
        action="{{ url_for('main.update_username') }}"
        class="settings-form"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <label for="new-username">New Username</label>
        <input
          type="text"
          id="new-username"
          name="username"
          placeholder="Enter new username"
          required
        />
        <label for="username-password">Password</label>
        <input
          type="password"
          id="username-password"
          name="password"
          placeholder="Enter your password"
          required
        />
        <button type="submit" class="btn update-btn">Update Username</button>
      </form>
    </div>

    <!-- Email Update Section -->
    <div id="email-section" class="settings-section hidden">
      <div class="back_button_settings_container">
        <button class="back_button_settings" onclick="showSection('account')">
          &larr; Back to Account Settings
        </button>
      </div>

      <h2>Change Email</h2>
      <form
        method="POST"
        action="{{ url_for('main.update_email') }}"
        class="settings-form"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <label for="email">New Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter new email"
          required
        />
        <label for="change_email_password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
          required
        />
        <button type="submit" class="btn update-btn">Update Email</button>
      </form>
    </div>

    <!-- Password Update Section -->
    <div id="change-password" class="settings-section hidden">
      <h2>Change Account Password</h2>
      <form
        method="POST"
        action="{{ url_for('main.update_password') }}"
        class="settings-form"
        onsubmit="return checkPasswordMatch();"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <label for="current_password">Current Password</label>
        <input
          type="password"
          id="current_password"
          name="current_password"
          placeholder="Enter current password"
          required
        />
        <label for="new_password">New Password</label>
        <input
          type="password"
          id="new_password"
          name="new_password"
          placeholder="Enter new password"
          required
        />
        <label for="confirm_password">Confirm New Password</label>
        <input
          type="password"
          id="confirm_password"
          name="confirm_password"
          placeholder="Re-enter new password"
          required
        />
        <button type="submit" class="btn update-btn">Update Password</button>
      </form>
    </div>

    <!-- Account Deletion Section -->
    <div id="delete-account" class="settings-section hidden">
      <h2>Delete Account</h2>
      <form
        method="POST"
        action="{{ url_for('main.delete_account') }}"
        class="settings-form"
        onsubmit="return confirmAccountDeletion();"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <label for="delete_password"
          >Enter Password to Confirm Account Deletion</label
        >
        <input
          type="password"
          id="delete_password"
          name="delete_password"
          placeholder="Enter your password"
          required
        />
        <button type="submit" class="btn delete-btn">
          Permanently Delete Account
        </button>
      </form>
    </div>

    <!-- About / Help / Legal Section -->
    <div id="about" class="settings-section hidden">
      <h2>About / Help / Legal</h2>
      <ul>
        <li>
          <b>App Version Info</b><br />Version: 1.3.2 (Build 2025.05.07)<br />Release
          Date: May 7, 2025
        </li>
        <li>
          <b>Terms of Service</b><br />Full terms available
          <a href="#">here</a>.
        </li>
        <li>
          <b>Privacy Policy</b><br />Full policy available <a href="#">here</a>.
        </li>
        <li><b>Contact Support</b><br />Email: support@soulmaps.app</li>
        <li>
          <b>Submit Feedback / Report a Bug</b><br />Feedback Form:
          <a href="#">here</a>.
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  function showSection(sectionId) {
    const sections = document.querySelectorAll(".settings-section");
    sections.forEach((section) => section.classList.add("hidden"));
    const targetSection = document.getElementById(sectionId);
    if (targetSection) {
      targetSection.classList.remove("hidden");
      targetSection.scrollIntoView({ behavior: "smooth" });
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    showSection("account");
  });

  // Show the default section (Account Settings) on load. Uses DOM manipulation to dynamically change the structure of website without communicationg with server
  document.addEventListener("DOMContentLoaded", () => {
    showSection("account");
  });

  function confirmLogout() {
    const confirmAction = confirm("Are you sure you want to log out?");
    if (confirmAction) {
      window.location.href = "{{ url_for('main.logout') }}";
    }
  }
  function checkPasswordMatch() {
    const newPassword = document.getElementById("new_password").value;
    const confirmPassword = document.getElementById("confirm_password").value;

    if (newPassword !== confirmPassword) {
      showPopup("Passwords do not match. Please try again.", "error");
      return false;
    }

    return true;
  }

  function confirmAccountDeletion() {
    const password = document.getElementById("delete_password").value.trim();

    if (!password) {
      showPopup(
        "Please enter your password to confirm account deletion.",
        "error"
      );
      return false;
    }

    const confirmAction = confirm(
      "Are you sure you want to permanently delete your account? This action cannot be undone."
    );
    return confirmAction;
  }
</script>

{% endblock %}
